* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.cards-container {
    background-color: red;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hand {
    width: 490px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: -100px;

}

.card {
    width: 180px;
    height: 260px;
    border: 2px solid black;
    border-radius: 10px;
    background-size: contain;
    margin: -70px;
}

.card-1 {
    background-image: url('deck-images/ace_of_spades.png');
}

.card-2 {
    position: relative;
    background-image: url('deck-images/ace_of_spades.png');

}

.start-button {
    box-sizing: border-box;
    border: 1px solid black;
    width: 200px;
    height: 80px;
    background: rgb(6, 182, 6);
    font-size: 15px;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    border: 2px solid black;
    cursor: pointer;
}

.top-buttons-container {
    width: 600px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.hide {
    display: none;
}

.top-button {
    width: 200px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 19px;
    color: white;
    cursor: pointer;
    font-size: bold;
}

.start-button-container {
    height: 170px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hit-button {
    background: rgb(6, 182, 6);
}

.stay-button {
    background: red;
}

.stay-button:hover {
    background: rgb(228, 11, 11);
}