* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.cards-container {
    width: 650px;
    height: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hand {
    width: 290px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 120px;
    height: 190px;
    border: 2px solid black;
    border-radius: 5px;
}

.card:hover {
    border: 4px solid black;
}

.start-button {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 15px;
    font-size: 15px;
}

.start-button:hover {
    font-weight: bold;
}

.top-buttons-container {
    width: 600px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.top-button {
    width: 200px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 19px;
    color: white;
    cursor: pointer;
}

.start-button-container {
    height: 170px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hit-button {
    background: rgb(6, 182, 6);
}

.stay-button {
    background: red;
}